<div class="auth-container">
  <h2 class="registration-main">アカウント作成</h2>

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "auth-input" %>
    <%= f.email_field :email, placeholder: "メールアドレス", class: "auth-input" %>
    <%= f.password_field :password, placeholder: "パスワード（6文字以上）", class: "auth-input" %>
    <%= f.password_field :password_confirmation, placeholder: "パスワード再入力", class: "auth-input" %>

    <%= f.submit "登録する", class: "auth-btn" %>
  <% end %>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
