<%= render "shared/header" %>
<div class="shop-container">
  <div class="shop-header">
    <h2 class="shop-title">登録したお店一覧</h2>
  </div>
  <div>
    <%= link_to "+ 店舗の新規登録", new_shop_path, class: "item-add-button" %>
  </div>

  <% if @shops.any? %>
    <% @shops.each do |shop| %>
      <div class="shop-lists">
        <div class="shop-list">
          <div>
            <div class="shop-list-name">
              <%= shop.name %>
            </div>
            <% if shop.address.present? %>
              <div style="font-size: 0.75rem; color: #999;">
                📍 <%= shop.address %>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to "店舗の編集•削除 >", edit_shop_path(shop), class: "shop-list-edit" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="shop-list-empty">
      <p>まだお店が登録されていません</p>
      <%= link_to "最初のお店を登録する", new_shop_path, class: "new-shop-button" %>
    </div>
  <% end %>

  <%= link_to "トップへ戻る", root_path, class: "back-to-top" %>
</div>
<%= render "shared/footer" %>
