<%= render "shared/header" %>
<div class="home">
  <% if user_signed_in? %>
      <div class="home-header">
        <h2 class="home-title">こんにちは、<%= current_user.name %>さん</h2>
        <p class="home-sub-title">今日の買い物も「納得感」を大切に。</p>
      </div>
    <%= link_to new_price_path, class:"home-btn" do %>
      <div class="home-btn-content">
        <span class="home-btn-icon">➕</span>
        <span class="home-btn-text">今すぐ価格を記録する</span>
      </div>
    <% end %>

    <div class="home-items">
      <div class="home-items-contents">
        <h3 class="home-items-title">最近登録した商品</h3>
        <%= link_to "すべて見る", items_path, class: "home-items-link" %>
      </div>
      <div class="home-item">
        <% @recent_items.each do |item| %>
          <%= link_to prices_path(item_id: item.id), class: "home-item-content" do %>
            <div class="home-item-names">
              <div class="home-item-name">
                <%= item.name %>
              </div>
              <div class="home-item-category"><%= item.category.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# 最近の記録履歴 %>
    <div>
      <h3 class="home-prices-title">最近の記録</h3>
      <% @recent_prices.each do |price| %>
        <div class="home-prices-contents">
          <div>
            <div class="home-item-name"><%= price.item.name %></div>
            <div class="home-item-category"><%= price.shop.name %></div>
          </div>
          <div style="text-align: right;">
            <div style="font-size: 0.9rem; color: #457b9d; font-weight: bold;">¥<%= price.price %></div>
            <div style="font-size: 0.6rem; color: #999;"><%= price.created_at.strftime("%m/%d") %></div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render "shared/footer" %>
  <% else %>
    <%# 未ログイン時の表示 %>
    <div class="home-sign">
      <h1 class="home-sign-title">My Price DB</h1>
      <p class="home-sign-subtitle">自分だけの底値帳で、<br>賢い買い物を始めよう。</p>
      <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      <%= link_to "ログイン", new_user_session_path, class: "sign-in" %>
    </div>
  <% end %>
</div>

