<div class="auth-container">
  <h2 class="registration-main">ログイン</h2>

 <%= form_with model: @user, url: user_session_path, local: true do |f| %>

    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "auth-input" %>
    <%= f.password_field :password, placeholder: "パスワード", class: "auth-input" %>

    <% if devise_mapping.rememberable? %>
      <div class="remember-me">
        <%= f.check_box :remember_me %> ログイン状態を保持する
      </div>
    <% end %>

    <%= f.submit "ログイン", class: "auth-btn" %>
  <% end %>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
