<%= render "shared/header" %>
<div class="price-container">
  
  <% if @item %>
    <h2 class="price-title"><%= @item.name %> の底値比較</h2>
    <p class="price-sub-title">単位あたりの価格が安い順に表示しています</p>
  <% end %>

  <% if @prices.any? %>
    <% @prices.each_with_index do |price, index| %>
      <div class="price-lists", style="border: 1px solid <%= index == 0 && @item ? '#ffd700' : '#eee' %>;">
        <% if index == 0 && @item %>
          <span class="price-lists-rank">👑 最安値</span>
        <% end %>

        <div class="price-lists-box">
          <div>
            <div class="price-lists-shop"><%= price.shop.name %></div>
            <div class="price-lists-date"><%= price.created_at.strftime("%Y/%m/%d") %></div>
          </div>
          
          <div class="price-lists-price">
            <div class="price-lists-unit-price">
              ¥<%= price.unit_price.to_f.round(1) %>
              <span class="price-lists-unit"> / <%= price.unit == "piece" ? "1piece" : "100#{price.unit}" %></span>
            </div>
            <div class="price-lists-total-price">
              (税込 ¥<%= price.price %> / <%= price.quantity %><%= price.unit %>)
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="price-lists-empty">まだ記録がありません</p>
  <% end %>

  <%= link_to "商品一覧へ戻る", items_path, class: "back-to-top" %>
</div>
<%= render "shared/footer" %>
