<%= render "shared/header" %>
<div class="item-container">
  <div class="item-header">
    <h2 class="item-title">登録した商品一覧</h2>
    <%= link_to "+ 追加", new_item_path, class: "item-add-button" %>
  </div>

  <% if @items.any? %>
    <% @items.each do |item| %>
      <div class="item-lists">
        <div class="item-list">
            <div class="item-list-name">
              <%= item.name %>
            </div>
            <div class="item-list-category">
              <span class="item-list-category-name">
                <%= item.category.name %>
              </span>
              <span class="item-list-unit">
                基本単位: <%= item.unit %>
              </span>
            </div>

          <div class="item-list-prices">
            <%= link_to "価格を記録 >", new_price_path(item_id: item.id), class: "item-list-price" %>
            <%= link_to "底値をチェック >", prices_path(item_id: item.id), class: "item-list-btm-price" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="item-lists-empty">
      <p>まだ商品が登録されていません</p>
      <%= link_to "最初の商品を登録する", new_item_path, class: "new-item-button" %>
    </div>
  <% end %>

  <%= link_to "トップへ戻る", root_path, class: "back-to-top" %>
</div>
<%= render "shared/footer" %>
